* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#principal {
    width: 900px;
    height: 1000px;
    background-color: black;
    margin: auto;
    margin-top: 50px;
    position: relative;

}

.secundaria {
    width: 100px;
    height: 100px;
    background-color: pink;
    position: sticky;
    right: 0px;
    bottom: 20px;
   
    
    
}

.secundaria:hover {
    height: 600px;
}